<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- 
        Awesome Template
        http://www.templatemo.com/preview/templatemo_450_awesome
        -->
		<title>GRADE AI SYSTEM</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/templatemo-style.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.singlePageNav.min.js"></script>
		<script src="/static/js/typed.js"></script>
		<script src="/static/js/wow.min.js"></script>
		<script src="/static/js/custom.js"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-bank"></i><span> UNIVERSITAS JAMBI</span></p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="mailto:giridesigns5@gmail.com">mfebykhoirus@gmail.com</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC4yzoGuKkCL_8FzI-B-x83A" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					
					<a href="#" class="navbar-brand">GRADE AI SYSTEM</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#team">TEAM</a></li>
						<li><a href="#service">NLP</a></li>
						<li><a href="#contact">CONTACT</a></li>
						<li><a href="#login">LOGIN</a></li>

					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We make grade ai that are <span>awesome</span></h1>
    					<div class="element">
                            <div class="sub-element">Hello, This is a Grade Ai Website.</div>
                            <div class="sub-element">Awesome Website is Designed and provided by NLP team.</div>
                            <div class="sub-element">If you need this website, Please contact us.</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>AWESOME</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-mobile"></i>
								</div>
								<h3 class="media-heading">APA ITU GRADE AI?</h3>
							</div>
							<div class="media-body">
								<p>Grade AI System adalah sebuah web yang berfungsi sebagai asisten guru dalam mengoreksi atau penilaian jawaban siswa.
									Web ini dibuat menggunakan system NLP dan mechine learning pada Python serta penggunaan framework Flask sebagai penopangnya.
									Web ini berjalan secara otomatis dalam menilai hasil ujian/tes siswa dalam bentuk CBT essai</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">KEMAJUAN DALAM PENILAIAN</h3>
							</div>
							<div class="media-body">
								<p>Grade AI System menjadi bukti dari kemajuan teknologi pendidikan dibidang penilaian. 
									Selain itu, perkembangan teknologi informasi dan komunikasi telah membuka pintu bagi 
									kemajuan dalam penilaian berbasis digital. Penilaian digital memanfaatkan teknologi 
									untuk mengumpulkan, menyimpan, dan menganalisis data penilaian dengan lebih efisien. 
									Ini juga memberikan fleksibilitas dalam metode penilaian, 
									seperti penggunaan tugas proyek, portofolio elektronik, atau penilaian berbasis Ai.  
								   .</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-html5"></i>
								</div>
								<h3 class="media-heading">MECHINE LEARNING</h3>
							</div>
							<div class="media-body">
								<p>Machine learning adalah cabang dari kecerdasan buatan yang berfokus pada pengembangan 
									algoritma dan model statistik yang memungkinkan komputer untuk belajar 
									dari data dan pengalaman, serta melakukan prediksi dan pengambilan keputusan tanpa 
									harus secara eksplisit diprogram. Penerapan machine learning pada essay otomatis 
									tidak hanya membantu menghemat waktu dan usaha dalam menulis, tetapi juga dapat 
									memperluas aksesibilitas terhadap pendidikan dan literas.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>NLP</span> TEAM</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="/static/img/wawan1.png" class="img-responsive" alt="team img 1">
    							<div class="team-des">
    								<h4>Wawan Kurniawan S.Si.,M.Cs</h4>
    								<span>Dosen Pendidikan Fisika</span>
    								<p>Dosen Pendidikan Fisika,
									Bidang keilmuan Data Science dan Artificial Intelligence for Education (AIEDU)</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="/static/img/febri.png" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h4>Febri Berthalita Pujaningsih, S.Si., M.Si</h4>
    								<span>Dosen Pendidikan Fisika</span><br>
    								<p> Dosen Pendidikan Fisika, Bidang Keilmuan Fisika Kuantum</p>
    					        </div>
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="/static/img/cycin.jpg" class="img-responsive" alt="team img 3">
    							<div class="team-des">
    								<h4>Cycin Riantoni S.pd.,M.Pd</h4><br>
    								<span>Dosen Pendidikan Fisika</span><br>
    								<p>Dosen Pendidikan fisika, mengampu mata kuliah 
										listrik magnet, bidang keilmuan tentang pemahaman 
										konsep fisika</p>
    					        </div>

    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="/static/img/sidqi1.png" class="img-responsive" alt="team img 4">
    							<div class="team-des">
    								<h4>M Feby Khoiru Sidqi</h4><br>
    								<span>Mahasiswa Pendidikan Fisika</span>
    								<p>Merupakan developer grade ai system, suka teknologi, hobi programing, dan calon fisikawan</p>
								</div>
						</div>
					</div>
    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>NLP</span> THINGS</h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-laptop"></i>
    					<h4>Web Design</h4>
    					<p>Web design adalah proses merancang dan mengembangkan tampilan visual 
							dan fungsionalitas sebuah halaman web. Ini melibatkan pengaturan elemen-elemen 
							seperti tata letak, warna, jenis huruf, grafik, dan navigasi untuk menciptakan pengalaman 
							pengguna yang optimal. Tujuan utama dari web design adalah untuk menciptakan sebuah tampilan
							 yang menarik secara visual, mudah dinavigasi, dan memberikan informasi dengan jelas dan efektif kepada pengunjung.</p>
    				</div>
    				<div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
    					<i class="fa fa-cloud"></i>
    					<h4>Ai Computing</h4>
    					<p>AI computing telah menjadi subjek yang menarik dalam dunia komputasi. Ini mencakup penggunaan 
							kecerdasan buatan (AI) dalam proses komputasi untuk memungkinkan mesin dan sistem komputer
							 berperilaku dan berpikir seperti manusia. AI computing melibatkan penggunaan algoritma dan 
							 teknik khusus yang memungkinkan komputer untuk belajar dari data, mengenali pola, membuat \
							 prediksi, dan mengambil keputusan berdasarkan informasi yang diberikan.</p>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-cog"></i>
    					<h4>UX Design</h4>
    					<p> Desain UX (User Experience) dalam konteks grade otomatis otomatis memiliki peran penting dalam 
							menciptakan pengalaman pengguna yang baik dan memuaskan. UX design pada grade otomatis bertujuan 
							untuk menyederhanakan proses penulisan dan meningkatkan efisiensi pengguna dalam menghasilkan konten tulisan.</p>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end servie -->

    	<!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> PORTFOLIO</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
    					   <img src="/static/img/utama.png" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project One</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/dev.png" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>Project Two</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/des.png" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>Project Three</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/lgrg.png" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4>Project Four</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/dsguru.png" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>Project Five</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/kmguru.png" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4>Project Six</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/gapuraunja2.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project Seven</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="/static/img/ujian.png" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>Project Eight</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
					
    			</div>
    		</div>
    	</section>
    	<!-- end portfolio -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>AWESOME</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="" method="post">
    						<label>NAME</label>
    						<input name="name" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>
    						<span>Hubungi kami jika anda mengalami kesulitan dalam menggunakan system.</span>
    						<p><i class="fa fa-phone"></i> +6282375873774</p>
    						<p><i class="fa fa-envelope-o"></i> mfebykhoirus@gmail.com</p>
    						<p><i class="fa fa-map-marker"></i>UNIVERSITAS JAMBI, MUARO JAMBI, PROVINSI JAMBI, INDONESIA.</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL MEDIA</h4></li>
    						<li><a href="" class="fa fa-facebook"></a></li>
    						<li><a href="https://instagram.com/astro_boyy77?igshid=ZGUzMzM3NWJiOQ==" class="fa fa-instagram"></a></li>
    						<li><a href="" class="fa fa-youtube"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact dan login register-->
		<section id="login">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">LOGIN<span> DAN REGISTER</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
						
    					<li><a href="{{url_for('loginguru')}}" font-size="30" font-style="bold" font="bold">LOGIN DI SINI</a></li>
						<a href="{{url_for('loginguru')}}" title="Menuju halaman login">
							<img src="/static/img/log-in.png" alt="google logo" width="80" border=0></a>
					
						<li><a href="{{url_for('registerguru')}}" font-size="30" font-style="bold" font="bold">DAFTAR DI SINI</a></li>
						<a href="{{url_for('registerguru')}}" title="Menuju halaman regis">
							<img src="/static/img/regis.png" alt="google logo" width="80" border=0></a>

							<li><a href="{{url_for('admin')}}" font-size="30" font-style="bold" font="bold">ADMINISTRATOR</a></li>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    		
    				<!-- panduan -->	
    					</address>
    					<ul class="social-icon">
    						<li><h4>PANDUAN MENGGUNAKAN SYSTEM
							        SILAHKAN KLIK PADA IKON BERIKUT!
							</h4></li>
    						<li><a href="{{url_for('panduan')}}" class="fa fa-book">PDF</a></li>
    						<li><a href="https://youtu.be/PtbyrVwdQ4o" class="fa fa-youtube"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                        Grade AI &copy; by NLP Team</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

	</body>
</html>